
.options {
    display: inline-block;
    color: #fff;
    background-color: rgb(55, 105, 250);
    
    outline: none;
    border: none;
    border-radius: 15px;
    
    padding: 10px;
    box-shadow: 0 9px #000;
}

.options:hover {
    background-color: rgb(20, 10, 180);
}

.options:active {
    background-color: rgb(20, 10, 180);
    transform: translateY(4px);
    box-shadow: 0 5px #000;
}

a {
    color: black;
    text-decoration: none;
}

a:hover, .options:hover {
    cursor: pointer;
}

.contentContainer {
    display: flex;
    justify-content: space-around;
}

.categoriesDropdown {
    text-align: center;
    position: relative;
    display: inline-block;
}

.categoriesDropdownContent {
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.categoriesDropdown:hover .categoriesDropdownContent {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.categoriesOption {
    margin: 10px 0;
    padding: 5px 10px;
    border: none;
    border-radius: 2%;
}

.categoriesOption:hover {
    background-color: rgb(55, 105, 250);
    color: white;
    transition: 0.2s ease-in-out;
}