.Button {
    background-color: #77a2ff;
    color: #fff;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 10px;
    margin: 0 10px;

    border: none;
    border-radius: 15px;

    transition: 0.5s;

    font-size: 20px;
    font-weight: bold;

    max-height: 3rem;
}

.Button:hover {
    background-color: #1951c8;
    transition: background-color 0.5s ease;
}