body {
    margin: 0;
    padding: 0;
}

.mainContainer {
    padding: 10px;
    margin: 3px 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid black;
    border-radius: 15px;
}

.siteLogo img {
    margin: 0 5px;
    max-height: 50px;
}

.siteSearchbar {
    display: inline-flex;
    border: 1px solid black;
    border-radius: 15px;
    align-items: center;
    padding: 10px;
}

.searchBox {
    outline: none;
    border: none;
    min-width: 400px;
}

.searchBox:focus {
    border: 1px solid transparent;
}


.siteUser {
    background-color: #77a2ff;
    color: white;

    min-height: 50px;
    min-width: 50px;

    border: none;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.siteUser:hover {
    background-color: #1951c8;
    transition: background-color 0.3s ease;
}