h2 {
    font-size: 20px;
}

.productContainer {
    display: inline-flex;

    padding: 20px;

    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 10px black;

    align-items: center;
    text-align: center;

    max-width: 80%;
}

.productImg {
    max-height: 250px;
    margin-right: 10px;
    border-radius: 10px;
}

.productImg:hover {
    box-shadow:0px 0px 30px rgb(20, 10, 150);
    transition: all 0.2s ease-in-out;
}

.productInfo {
    display: inline;
    max-width: 50%;
}

#productPrice,
#productCategory,
#productStock {
    color: black;
}

#productDescription {
    text-align: center;
}